<a href="https://colab.research.google.com/github/datasciencejames/datasciencejames.github.io/blob/main/Project_Scrapping_from_pdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [6]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: distro in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [ ]:
!apt install ghostscript python3-tk

In [10]:
from ctypes.util import find_library
find_library("gs")

'libgs.so.9'

In [ ]:
!pip install ghostscript

In [ ]:
!pip install camelot-py

In [13]:
!pip install opencv-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opencv-python in /usr/local/lib/python3.8/dist-packages (4.6.0.66)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from opencv-python) (1.21.6)

In [67]:
import io

In [14]:
import camelot

In [32]:
tables = camelot.read_pdf("Kang.pdf",pages='26')

In [34]:
df1 = tables[0].df

In [36]:
df1.head(1)

,0,1,2,3,4,5
0,Year,Choo (1992),"Ahn (1992,1995)",Whang & Lee\n(1996),FIES (NSO),Yoo (1998)

In [37]:
df2 = df1.drop(columns={1,3,4,5},axis=0)

In [48]:
df3 = df2.loc[[11,12,13,14,15,16 ]]

In [49]:
df3.head(3)

       0       2
11  1975  0.3769
12  1976  0.3899
13  1977  0.3780

In [50]:
df4 = df3.rename(columns={0:"year",2:"gini"})

In [51]:
df4

    year    gini
11  1975  0.3769
12  1976  0.3899
13  1977  0.3780
14  1978  0.3699
15  1979  0.3752
16  1980  0.3567

In [70]:
df4.to_csv("Korea_gini_7580.csv")

In [52]:
tables = camelot.read_pdf("Kang.pdf",pages='32')

In [71]:
df5 = tables[0].df

In [75]:
df5

,0,1,2
0,Year,Poverty Ratio 1,Poverty Ratio 2
1,1975\n1976\n1977\n1978\n1979\n1980\n1981\n1982...,20.04\n20.39\n19.59\n17.91\n15.15\n14.45\n12.7...,21.52\n19.62\n19.54\n17.49\n16.00\n15.25\n13.3...

In [77]:
df5.set_index(0)

,1,2
0,,
Year,Poverty Ratio 1,Poverty Ratio 2
1975\n1976\n1977\n1978\n1979\n1980\n1981\n1982\n1983\n1984\n1985\n1986\n1987\n1988\n1989\n1990\n1991\n1992\n1993\n1994\n1995,20.04\n20.39\n19.59\n17.91\n15.15\n14.45\n12.7...,21.52\n19.62\n19.54\n17.49\n16.00\n15.25\n13.3...

In [81]:
df6 = df5.drop(axis=1,columns={1})

In [85]:
df7=df6.drop(axis=0,index={0})

In [86]:
df7

,0,2
1,1975\n1976\n1977\n1978\n1979\n1980\n1981\n1982...,21.52\n19.62\n19.54\n17.49\n16.00\n15.25\n13.3...

In [87]:
df8=df7.rename({0:"years",2:"poverty ratio"},axis=1,)

In [88]:
df8

,years,poverty ratio
1,1975\n1976\n1977\n1978\n1979\n1980\n1981\n1982...,21.52\n19.62\n19.54\n17.49\n16.00\n15.25\n13.3...