<a href="https://colab.research.google.com/github/datasciencejames/datasciencejames.github.io/blob/main/R%26D_Expenditure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_by_research_and_development_spending'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table', {'class': 'wikitable sortable'}).tbody
rows = table.find_all('tr')
columns = [v.text.replace('\n','') for v in rows[0].find_all('th')]
df = pd.DataFrame(columns = columns)

In [3]:
for i in range(1,11):
    tds = rows[i].find_all('td')

    if len(tds)==7:
        values = [tds[0].text.replace('\n',''),tds[1].text.replace('\n','').replace('\xa0',''),tds[2].text.replace('\n',''),'','','','']

    else: 
        values = [td.text.replace('\n','').replace('\xa0','') for td in tds]

    df = df.append(pd.Series(values, index=columns), ignore_index=True)

In [9]:
df

,,Country/Region,"Expenditures on R&D (billions of US$, PPP)",% of GDP PPP,Expenditures on R&D per capita (US$ PPP),Year,Source
0,1,United States,612.714,,,,
1,2,China,514.798,,,,
2,3,Japan,172.614,,,,
3,4,India,158.691,,,,
4,5,Germany,131.932,,,,
5,6,South Korea,100.055,,,,
6,7,France,63.658,,,,
7,8,United Kingdom,51.702,,,,
8,9,Taiwan,42.945,,,,
9,10,Russia,38.549,,,,

In [10]:
df1 = df.drop(columns={'Year','Source','% of GDP PPP'})

In [12]:
df2 = df1.rename(columns = {'Country/Region':'Country','Expenditures on R&D (billions of US$, PPP)':'Expenditure(billions of USD)'})

In [ ]:
df2

In [14]:
df2.to_csv('R&D_Expenditure.csv')